services:
  web:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
    container_name: pivothire_app
    restart: always
    ports:
      - "3001:3000"
    depends_on:
      - db
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://pivothire_user:pivothire_postgresdb_pswd202506@db:5432/pivothire_prod?schema=public
      - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}

  db:
    image: postgres:15-alpine
    container_name: pivothire_db
    restart: always
    environment:
      POSTGRES_USER: pivothire_user
      POSTGRES_PASSWORD: pivothire_postgresdb_pswd202506
      POSTGRES_DB: pivothire_prod
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: