services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pivothire_app
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production